* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    background-color: #FFFFFF;
    /* Границы сайта на веб-странице */
}

.borders {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 26px 0 48px 0;
    margin: 14px 0 21px 0;
}

h2 {
    font-size: 45px;
    line-height: 53px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

.top_logotype {
    max-width: 137px;
}

.nav_links {
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #000000;
}

.nav_btn_start {
    display: block;
    border: none;
    max-width: 120px;
    width: 100%;
    padding: 12px 27px;
    box-sizing: border-box;
    background: #F25822;
    border-radius: 40px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.nav_btn_start:hover {
    color: #000000;
}

.nav_btn_start:active {
    color: #000000;
    background-color: #a53b15;
}

.nav_color_red {
    color: #F25822;
}

.nav_color_red:hover {
    opacity: 0.5;
}

.nav_color_red:active {
    color: #000000;
}

.nav_links_menu:hover {
    opacity: 0.5;
}

.nav_links_menu:active {
    color: #F25822;
}


/* ================Header END =================*/


/* =================Content body============== */

.content_wrp {
    margin: 0 0 97px 0;
    display: flex;
    gap: 13px;
    text-align: left;
}

.content_info {
    max-width: 522px;
    width: 100%;
}

.content_title {
    margin: 0 0 17px 0;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}

.content_paragraph {
    max-width: 466px;
    width: 100%;
    margin: 0 0 16px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.content_btn_start_watch {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 27px;
}

.content_btn_start {
    display: block;
    border: none;
    max-width: 140px;
    width: 100%;
    padding: 15px 35px;
    box-sizing: border-box;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.content_btn_start:hover {
    color: #000000;
}

.content_btn_start:active {
    color: #000000;
    background-color: #a53b15;
}

.content_btn_watch {
    display: block;
    border: none;
    max-width: 90px;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    font-weight: 500;
    background-color: #FFFFFF;
}

.content_btn_watch:hover {
    color: #000000;
}

.content_pic {
    width: 544px;
    height: 374px;
}

content_pic img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer_logos_list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}


/*------------- END Header------------- */


/* -------------Features----------- */

.features {}

.features_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px 0;
}

.features_items {
    max-width: 310px;
    width: 100%;
    background-color: #FFFFFF;
    /* outline: 1px solid black; */
}

.leads {
    max-width: 370px;
    width: 100%;
    /* background-color: #FFFFFF; */
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding: 40px 30px 25px 30px;
    box-sizing: border-box;
}

.features_items_photo {
    width: 70px;
    height: 70px;
    /* background-image: url(images/features_header_business.png); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 25px 0;
}

.photo_business {
    background-image: url(images/features_header_business.png);
}

.photo_leads {
    background-image: url(images/eatures_header_leads.png);
}

.photo_sales {
    background-image: url(images/features_header_sales.png);
}

.features_title {
    margin: 0 0 17px 0;
}

.features_text {
    font-size: 15px;
    line-height: 22px;
    color: #666666;
    margin: 0 0 25px 0;
}

.features_additional {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 16px */
}


/* -------------END Features--------*/


/* -------------Services---------- */

.services {
    background-color: #FAFAFA;
}

.services_wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 19px;
    padding: 92px 0 55px 0;
}

.services_title {
    max-width: 579px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services_text {
    max-width: 682px;
    width: 100%;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.services_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services_items {
    max-width: 370px;
    width: 100%;
    height: 549px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    /* outline: 1px solid black; */
    box-sizing: border-box;
    margin: 0 0 50px 0;
}

.services_optimizadion_shadow {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.services_items_photo {
    width: 370px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 25px 0;
}

.photo_keyword_research {
    background-image: url(images/Services_keyword_research.png);
}

.photo_seo_optimizadion {
    background-image: url(images/Services_seo_optimazadion.png);
}

.photo_social_marketing {
    background-image: url(images/Services_social_marketing.png);
}

.services_items_title {
    margin: 0 0 22px 0;
}

.services_items_text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #AAAAAA;
    margin: 0 0 39px 0;
}

.services_button {
    display: block;
    border: none;
    max-width: 150px;
    width: 100%;
    padding: 15px 36px;
    box-sizing: border-box;
    background: #F25822;
    border-radius: 50px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    font-size: 13px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0 0 50px 0;
}

.services_button:hover {
    color: #000000;
}


/* -----------Services End-------- */